.materials
{
    display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
    text-align:left;
    
}
.images
{
    
    margin-left: 10em;
}


@media only screen and (max-width: 1295px) {
    .materials
    {
        display: inherit;
        
    }
      #headimg{
        display: none;
    }
    #pano
    {
        width: 100%;
    }
}
@media only screen and (max-width:790px)
{
     #pano
    {
        display: none;
    }
}
